<!DOCTYPE html>
<html>
<style>
.post{
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  border-style: solid;
  border-color: #F0F3F4;
  padding: 10px;
  box-shadow: 0 8px 6px -6px black;
}

</style>


<div class="container">
  <header><img  style="width:100px;height:100px;" src="https://cdn4.iconfinder.com/data/icons/spring-color-2/64/bee-honey-hive-insect-bumblebee-512.png" ></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>News Feed </h2> 
 
    <br>
    <div class="content">
    
    <h1>Welcome, <a href="/users/<%=@user.slug%>"><%=@user.username.titleize%></a></h1>
       
        <%@posts.each do |post|%>
          <%@other_user = User.find_by(id: post.user_id)%>
          <div class="post"> 
          <h4><%=@other_user.username.titleize%></h4>
          <h5><a href="/posts/<%=post.id%>"><%=post.content%></a><h5><br>
          </div><br>
        <%end%>
        <br>

      <p><a href="/posts/new"><button>New post</button></a></p>
      <p><a href="/logout"> <button>Logout</button></a></p>
    </div>

  </div>
</div>